{% extends 'layouts/base.html.twig' %}

{% block title %} SAFER - Properties {% endblock %}

{% block body %}

    <main id="main">
        {# Intro Single #}
        {{ include('property/partials/Intro_single_index.html.twig')}}
    </main>

{% endblock %}
